/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #cac6c6;
  }
  
  /* Estilos del formulario */
  #survey-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #survey-form h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  #survey-form p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Estilos de los campos de entrada */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  /* Estilos de los botones */
  button[type="submit"],
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Estilos de las opciones */
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Estilos del footer */
  footer {
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
  }